<div class="main" id="main">
    
    <div class="pagetitle">
        <h1 *ngIf="editUser == false">Add New Student</h1>
        <h1 *ngIf="editUser == true">Edit Student</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/user-list'">Student Lists</a></li>
                <li class="breadcrumb-item" *ngIf="editUser == false">Add new Student</li>
                <li class="breadcrumb-item" *ngIf="editUser == true">Edit Student</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" *ngIf="editUser == false">Student Registration Form</h5>
                    <h5 class="card-title" *ngIf="editUser == true">Student Edit Form</h5>
                    <!-- Horizontal Form -->
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="user.userName"  id="inputText">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Phone No</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" [(ngModel)]="user.phoneNo" id="inputEmail">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label required">Address</label>
                        <div class="col-sm-6">
                            <textarea rows="3" class="form-control" [(ngModel)]="user.address" id="inputPassword"></textarea>
                        </div>
                    </div>                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-secondary" [routerLink]="'/user-list'">Cancel</button>
                    </div>
                    <!-- End Horizontal Form -->

                </div>
            </div>
        </div>
    </section>
</div>