<div class="main" id="main">

    <div class="pagetitle">
        <h1 *ngIf="editStudent == false">Add New Student</h1>
        <h1 *ngIf="editStudent == true">Edit Student</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/student-list'">Student Lists</a></li>
                <li class="breadcrumb-item" *ngIf="editStudent == false">Add new Student</li>
                <li class="breadcrumb-item" *ngIf="editStudent == true">Edit Student</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title text-center" *ngIf="editStudent == false">Student Registration Form</h5>
                    <h5 class="card-title text-center" *ngIf="editStudent == true">Student Editing Form</h5>
                    <!-- Horizontal Form -->

                    <form class="row g-3">

                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label  required">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="student.stu_name" id="inputText"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label  required">Roll No</label>
                            <input type="text" class="form-control" id="inputText">
                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail3" class="col-form-label required">Phone No</label>
                            <input type="text" class="form-control" [(ngModel)]="student.phone_no" id="inputText"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <!-- input Email -->
                        <div class="col-sm-3">
                            <label for="inputEmail3" class="col-form-label ">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="student.stu_email" id="inputEmail"
                                [ngModelOptions]="{standalone: true}">
                        </div>


                        <div class="col-md-6">
                            <label for="inputPassword3" class=" col-form-label required"> Current Address</label>
                            <textarea rows="2" class="form-control" [(ngModel)]="student.stu_currAddress"
                                [ngModelOptions]="{standalone: true}" id="inputText"></textarea>
                        </div>

                        <!-- home address -->
                        <div class="col-md-6">
                            <label for="inputEmail3" class=" col-form-label required">Home Address</label>
                            <textarea rows="2" class="form-control" [(ngModel)]="student.stu_homeAdd"
                                [ngModelOptions]="{standalone: true}" id="inputPassword"></textarea>
                        </div>
                        <!-- for Profile picture -->
                        <div class="col-md-6">
                            <label for="inputEmail3" class="col-form-label required">Student Profile Picture
                                :</label>
                            <input id="file" type="file" name="cover" class="form-control" accept=".png , .jpg , .jpeg"
                                (change)="oncoverChange($event)">
                        </div>
                        <!-- create nrc -->
                        <div class="col-md-6">
                            <label for="inputEmail3" class=" col-form-label required">NRC No :</label>
                            <input type="text" class="form-control" [(ngModel)]="student.stu_nrc" id="inputEmail"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <!-- input gender  create gender entry-->
                        <div class="col-sm-3">
                            <label for="inputPassword3" class=" col-form-label required">Gender</label>
                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="student.stu_gender"
                                [ngModelOptions]="{standalone: true}">
                                <option value="" selected>Choose..</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail3" class="col-form-label required">Nation :</label>
                            <input type="text" class="form-control" [(ngModel)]="student.stu_national" id="inputEmail"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <!-- create date of birth -->
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Date Of Birth </label>
                            <input type="date" class="form-control" [(ngModel)]="student.stu_dob" id="inputEmail"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Academic Year</label>
                            <select class="form-select" id="inputGroupSelect01 ">
                                <option value="">Choose..</option>
                                <option></option>
                            </select>

                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Religion :</label>
                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="student.stu_religion"
                                [ngModelOptions]="{standalone: true}">
                                <option value="" selected>Choose..</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Hinduism</option>
                                <option>Islam</option>
                                <option>other</option>
                            </select>
                        </div>

                        <!-- asking rquesting relationshipStatus (yes or no) -->
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Relationship Status :</label>
                            <select class="form-select" id="inputGroupSelect01 "
                                [(ngModel)]="student.stu_relationshipStat" [ngModelOptions]="{standalone: true}">
                                <option value="" selected>Choose..</option>
                                <option>Single</option>
                                <option>Married</option>
                                <option>Divorced</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <!-- asking rquesting hostel (yes or no) -->
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Hostel Status :</label>
                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="student.stu_hostel"
                                [ngModelOptions]="{standalone: true}">
                                <option value="" selected>Choose..</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <!-- asking requesting ferry (yes or no) -->
                        <div class="col-sm-3">
                            <label for="inputEmail3" class=" col-form-label required">Ferry status :</label>

                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="student.stu_ferry"
                                [ngModelOptions]="{standalone: true}">
                                <option value="" selected>Choose..</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>

                        </div><br /><br />
                        <h5 class="card-title text-center">Parent Information</h5>
                        <div class="col-sm-3">
                            <label for="firstName" class=" col-form-label required">Father Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Name" [(ngModel)]="father.name">
                        </div>
                        <div class="col-sm-3">
                            <label for="firstName" class=" col-form-label required">Father's NRC No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="NRC No" [(ngModel)]="father.nrcNo" >
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class=" col-form-label required">Phone Number</label>
                            <input type="text" class="form-control" id="PhoneNo" placeholder="09-xxxxxxxxx" [(ngModel)]="father.phoneNo">
                        </div>
                        <div class="col-sm-3">
                            <label for="relationship" class=" col-form-label required">Occupation</label>
                            <input type="text" class="form-control" id="relationship" placeholder="" [(ngModel)]="father.occupation">
                        </div>
                        <div class="col-sm-6">
                            <label for="inputEmail3" class="col-form-label required">Nation :</label>
                            <input type="text" class="form-control" id="inputEmail"[(ngModel)]="father.nation" >
                        </div>
                        <div class="col-sm-6">
                            <label for="inputEmail3" class=" col-form-label required">Religion :</label>
                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="father.religion">
                                <option value="" selected>Choose..</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Hinduism</option>
                                <option>Islam</option>
                                <option>other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address" class=" col-form-label required">Mother Address</label>
                            <textarea rows="2" type="text" class="form-control" id="address"
                                placeholder="Street Address">
                                </textarea>
                        </div>
                        <!-- Mother info -->
                        <div class="col-sm-3">
                            <label for="firstName" class=" col-form-label required">Mother Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Name" [(ngModel)]="mother.name">
                        </div>
                        <div class="col-sm-3">
                            <label for="firstName" class=" col-form-label required">Mother's NRC No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="NRC No" [(ngModel)]="mother.nrcNo">
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class=" col-form-label required">Phone Number</label>
                            <input type="text" class="form-control" id="PhoneNo" placeholder="09-xxxxxxxxx" [(ngModel)]="mother.phoneNo">
                        </div>
                        <div class="col-sm-3">
                            <label for="relationship" class=" col-form-label required">Occupation</label>
                            <input type="text" class="form-control" id="relationship" placeholder="" [(ngModel)]="mother.occupation">
                        </div>
                        <div class="col-sm-6">
                            <label for="inputEmail3" class="col-form-label required">Nation :</label>
                            <input type="text" class="form-control" id="inputEmail" [(ngModel)]="mother.nation">
                        </div>
                        <div class="col-sm-6">
                            <label for="inputEmail3" class=" col-form-label required">Religion :</label>
                            <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="mother.religion">
                                <option value="" selected>Choose..</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Hinduism</option>
                                <option>Islam</option>
                                <option>other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address" class=" col-form-label required">Mother Address</label>
                            <textarea rows="2" type="text" class="form-control" id="address"
                                placeholder="Street Address" [(ngModel)]="mother.address" >
                                </textarea>
                        </div>


                        <form class="row g-3">
                            <h5 class="card-title text-center">Emergency Contact</h5>
                            <div class="col-sm-4">
                                <label for="firstName" class=" col-form-label required">Person Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Name">
                            </div>
                            <div class="col-sm-4">
                                <label for="lastName" class=" col-form-label required">Phone Number</label>
                                <input type="text" class="form-control" id="PhoneNo" placeholder="09-xxxxxxxxx">
                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class=" col-form-label required">Relation</label>
                                <select class="form-select" id="inputGroupSelect01 ">
                                    <option value="">Choose..</option>
                                    <option></option>
                                </select>
    
                            </div>
                            <div class="form-group">
                                <label for="address" class=" col-form-label required">Address Of Person To Contact In
                                    Case Of Emergency</label>
                                <textarea rows="2" type="text" class="form-control" id="address"
                                    placeholder="Street Address">
                                    </textarea>
                            </div>

                        </form>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>&nbsp;
                            <button type="reset" class="btn btn-secondary"
                                [routerLink]="'/student-list'">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>