<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->

            <div class="row">

                <!-- Anonuncement-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card an">
                        <div class="card-body" style="height: 280px;">
                            <h4 class=" text-center" style="margin-top: 8px;">Anonuncement </h4>
                            <hr>

                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of announcements">
                                        <tr *ngIf="(not.title=='ANNOUNCEMENT')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Anonuncement -->


                <!-- Event-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card ev">
                        <div class="card-body" style="height: 280px;">
                            <h4 class="text-center" style="margin-top: 8px;">Events</h4>
                            <hr>
                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of events">
                                        <tr *ngIf="(not.title=='EVENT')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div><!-- End Event -->



                <!-- Health-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card he">
                        <div class="card-body" style="height: 280px;">
                            <h4 class="text-center" style="margin-top: 8px;">Health</h4>
                            <hr>
                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of healths">
                                        <tr *ngIf="(not.title=='HEALTH')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End Health -->

                <!-- School Activity-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card sch">
                        <div class="card-body" style="height: 280px;">
                            <h4 class="text-center" style="margin-top: 8px;">School Activity </h4>
                            <hr>

                            <div class="news">
                                <div class="post-item clearfix">
                                    <table *ngFor="let not of schools">
                                        <tr *ngIf="(not.title=='SCHOOL ACTIVITY')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End School Activity -->
            </div>


            <!-- Right side columns -->
            <div class="col-lg-4">

            </div><!-- End Right side columns -->

        </div>
    </section>

    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend">
    </canvas>

</main><!-- End #main -->