<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="row">
                <!-- Anonuncement-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card an">
                        <div class="card-body" style="height: 280px;">
                            <h5 class=" text-center" style="margin-top: 10px;font-weight: bold;">Anonuncement </h5>
                            <hr>

                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of announcements">
                                        <tr *ngIf="(not.title=='ANNOUNCEMENT')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Anonuncement -->


                <!-- Event-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card an">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="text-center" style="margin-top: 10px;font-weight: bold;">Events</h5>
                            <hr>
                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of events">
                                        <tr *ngIf="(not.title=='EVENT')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div><!-- End Event -->



                <!-- Health-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card an">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="text-center" style="margin-top: 10px;font-weight: bold;">Health</h5>
                            <hr>
                            <div class="news">
                                <div class="post-item clearfix ">
                                    <table *ngFor="let not of healths">
                                        <tr *ngIf="(not.title=='HEALTH')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End Health -->

                <!-- School Activity-->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card an">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="text-center" style="margin-top: 10px;font-weight: bold;">School Activity </h5>
                            <hr>

                            <div class="news">
                                <div class="post-item clearfix">
                                    <table *ngFor="let not of schools">
                                        <tr *ngIf="(not.title=='SCHOOL ACTIVITY')">
                                            <td>
                                                <img src="{{ this.commonService.imageURL+not.noticePicture}}"
                                                    alt="notice" style="margin: 5px;max-width: 40px; height: 40px;">
                                            </td>
                                            <td [routerLink]="['/add-notice',not.id]" class="limit">
                                                {{not.content}}
                                            </td>
                                        </tr><br />
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End School Activity -->
            </div>
        </div>
    </section>

    <section class="section sublists">
        <div class="row">
            <div class="col-sm-7">
                <div class="card">
                    <div class="b">
                        <p>Students' Gender Breakdown by Academic Batch</p>
                    </div>
                    <div class="c"> <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend"
                            style="width: 100%; height: 500px;">
                        </canvas></div>

                </div>
            </div>
            <div class=" col-sm-5">
                <div class=" card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr class="tr" colspan="2" style="border-bottom: 1px solid black;">
                                    <th  style="margin-top: 4px;">{{academicBatch}}
                                   Subject List </th>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Module No</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 16px;">

                                <tr *ngFor=" let sub of subjects;let i = index;">
                                    <td> {{sub.name}}</td>
                                    <td>{{sub.moduleNo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main><!-- End #main -->