.limit {
    display: block;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* .dashboard .news p{
    font-size: 17px;
    color: #777777;
    margin-left: 95px;
} */
