.dropdown-divider {
    margin: 5px 0;
    border-top: 1px solid #0876e4;
}

.t {
    color: black;
}

.nt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: black;
}

.size {
    font-size: 50px;
    font-weight: x-large;
    padding-right: 5px;
    color: black
}

.b {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    padding-top: 3%;
}

.c {
    margin: 0% 5% 0% 5%;
}