<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" [routerLink]="'/department-list'">
          
          <i class="bi bi-house-door-fill"></i>
          <span> Home</span>
        </a>
      </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-houses-fill"></i><span>Site Page</span>

          </a>
          
        </li><!-- End Components Nav -->

        <li class="nav-item">
          
          <a class="nav-link collapsed" href="#">
              <i class="bi bi-calendar-heart-fill"></i>
                <span>My Course</span>
              </a>
          </li><!-- End course Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-calendar-day fs-6"></i>
                <span>Time Table</span>
              </a>
            </li><!-- End time table Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#">
                  <i class="bi bi-brush-fill fs-6"></i>
                    <span>Assignment</span>
                  </a>
              </li><!-- End Assignment Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
              <i class="bi bi-chat-text-fill fs-6"></i>
                <span> Message</span>
              </a>
          </li><!-- End Message Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-person-circle"></i>
              <span>Profile</span>
            </a>
          </li><!-- End Report Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-gear-fill"></i>
            <span>Report</span>
          </a>
      </li><!-- End Report Nav -->
    </ul>
  
  </aside><!-- End Sidebar-->