<div class="main" id="main">
    <div class="pagetitle">
        <h1 *ngIf="editSemester == false">Add New Semester</h1>
        <h1 *ngIf="editSemester == true">Edit Semester</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/staff-list'">Semester Lists</a></li>
                <li class="breadcrumb-item" *ngIf="editSemester == false">Add new Semester</li>
                <li class="breadcrumb-item" *ngIf="editSemester == true">Edit Semester</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" *ngIf="editSemester == false">Semester Adding Form</h5>
                    <h5 class="card-title text-center" *ngIf="editSemester == true">Semester Editing Form</h5>
                    <!-- Horizontal Form -->
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Semester 1 or Semester 2" [(ngModel)]="semester.semesterName" id="inputText">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Semester Start Date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="semester.semStartDate" id="inputEmail">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label required">Semester End Date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" [(ngModel)]="semester.semEndDate" id="inputEmail">
                        </div>
                    </div>                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-secondary" [routerLink]="'/semester-list'">Cancel</button>
                    </div>
                    <!-- End Horizontal Form -->

                </div>
            </div>
        </div>
    </section>
</div>