<div class="main" id="main">
    <div class="pagetitle">
        <h1 *ngIf="editDepartment == false">Add New Department</h1>
        <h1 *ngIf="editDepartment == true">Edit Department</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/department-list'">Department Lists</a></li>
                <li class="breadcrumb-item" *ngIf="editDepartment == false" >Add new Department</li>
                <li class="breadcrumb-item" *ngIf="editDepartment == true">Edit Department</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" *ngIf="editDepartment == false">Department Adding Form</h5>
                    <h5 class="card-title text-center" *ngIf="editDepartment == true">Department Editing Form</h5>
                    <!-- Horizontal Form -->
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="department.name"  id="inputText">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-secondary" [routerLink]="'/department-list'">Cancel</button>
                    </div>
                    <!-- End Horizontal Form -->

                </div>
            </div>
        </div>
    </section>
</div>
