<!--======== ADMIN sidebar======== -->
<aside id="sidebar" class="sidebar" *ngIf="role=='ADMIN'">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/admin-dashboard'">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/student-list'" routerLinkActive="active">
        <i class="bi bi-mortarboard-fill fs-6"></i><span>Students</span>
      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link collapsed" [routerLink]="'/staff-list'" routerLinkActive="active">
        <i class="bi bi-person-workspace fs-6"></i><span>Teachers</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/subject-list'" routerLinkActive="active">
        <i class="bi bi-book-half fs-6"></i><span>Subjects</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/department-list'" routerLinkActive="active">
        <i class="bi bi-building-fill fs-6"></i><span>Departments</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/timetable'" routerLinkActive="active">
        <i class="bi bi-table"></i><span>Timetable</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i>
        <span>Learning Environment</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a [routerLink]="'/section-list'" routerLinkActive="active">
            <i class="bi bi-card-list fs-6"></i><span>Section</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/position-list'" routerLinkActive="active">
            <i class="bi bi-list-columns-reverse fs-6"></i><span>Positions Of Teacher List</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/semester-list'" routerLinkActive="active">
            <i class="bi bi-calendar2-month-fill fs-6"></i><span>Semester</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/year'" routerLinkActive="active">
            <i class="bi bi-calendar-check fs-6"></i><span>Academic Year</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/notice-board'">
        <i class="bi bi-clipboard-check"></i>
        <span>Notice Board</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/message-list'">
        <i class="bi bi-envelope"></i>
        <span>Messages</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/login'">
        <i class="bi bi-box-arrow-right"></i>
        <span>Log Out</span>
      </a>
    </li><!-- End Login Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<!-- ======= Student-Sidebar ======= -->
<aside id="sidebar" class="sidebar" *ngIf="role=='STUDENT'">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/student-dashboard'" data-bs-toggle="collapse">

        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">

      <a class="nav-link collapsed" href="#">
        <i class="bi bi-calendar-heart-fill"></i>
        <span>My Course</span>
      </a>
    </li><!-- End course Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/timetable'">
        <i class="bi bi-table"></i>
        <span>Time Table</span>
      </a>
    </li><!-- End time table Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-brush-fill fs-6"></i>
        <span>Assignment</span>
      </a>
    </li><!-- End Assignment Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/notice-board'">
        <i class="bi bi-clipboard-check"></i>
        <span>Notice Board</span>
      </a>
    </li><!-- End Notice Board Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/message-list'">
        <i class="bi bi-chat-text-fill fs-6"></i>
        <span> Messages</span>
      </a>
    </li><!-- End Message Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contact'">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/login'">
        <i class="bi bi-box-arrow-right"></i>
        <span>Log Out</span>
      </a>
    </li><!-- End Report Nav -->
  </ul>

</aside><!-- End Student Sidebar-->

<!-- =======TEACHER Sidebar ======= -->
<aside id="sidebar" class="sidebar" *ngIf="role=='TEACHER'">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item active">
      <a class="nav-link collapsed" [routerLink]="'/teacher-dashboard'">

        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">

      <a class="nav-link collapsed" [routerLink]="'/class'">
        <i class="bi bi-calendar-heart-fill"></i>
        <span>Classes</span>
      </a>
    </li><!-- End course Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-people-fill"></i>
        <span>All Students</span>
      </a>
    </li><!-- End Message Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/notice-board'">
        <i class="bi bi-clipboard-check"></i>
        <span>Notice Board</span>
      </a>
    </li><!-- End Notice Board Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/message-list'">
        <i class="bi bi-chat-text-fill fs-6"></i>
        <span> Messages</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/contact'">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/login'">
        <i class="bi bi-box-arrow-right"></i>
        <span>Log Out</span>
      </a>
    </li><!-- End Report Nav -->
  </ul>

</aside><!-- End Sidebar-->