<div class="main" id="main">
    <div class="pagetitle">
        <h1>Academic Year Lists</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/year'">All Academic Year Lists</a></li>
               
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        
        <div><button type="submit" class="btn btn-primary bi bi-plus-circle" [routerLink]="'/add-year'">
            Add new Academic Year</button> </div><br />

        <div class="row">
            <div class="card">

                <div class="card-body">
                    <!-- Table with stripped rows -->



                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col"> Academic</th>
                                <th scope="col">Current Status</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>

                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let yr of years ;let i = index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{yr.name}}</td>
                                <td>{{yr.currentStatus}}</td>
                                <td>{{yr.startDate}}</td>
                                <td>{{yr.endDate}}</td>


                                <td>
                                    <i class="bi bi-pencil-square" title="edit"
                                        [routerLink]="['/add-year',yr.id]"></i>&nbsp;
                                    <i class="bi bi-trash" style="color: red;" title="delete"
                                        (click)="delete(yr.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </section>

</div>