<div class="main" id="main">
    <div class="pagetitle">
        <!-- <h1 *ngIf="editUser == false">Add New Student</h1>
        <h1 *ngIf="editUser == true">Edit Student</h1> -->
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/user-list'">Student Lists</a></li>
                <!-- <li class="breadcrumb-item" *ngIf="editUser == false">Add new Student</li>
                <li class="breadcrumb-item" *ngIf="editUser == true">Edit Student</li> -->
            </ol>
        </nav>
    </div><!-- End Page Title -->

   


<br/>
<br/>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col"> Academic</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>

                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let yr of years ;let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{yr.name}}</td>
                            <td>{{yr.currentStatus}}</td>
                            <td>{{yr.startDate}}</td>
                            <td>{{yr.endDate}}</td>


                            <td>
                                <i class="bi bi-pencil-square" title="edit" [routerLink]="['/add-user']"></i>&nbsp;
                                <i class="bi bi-trash" style="color: red;" title="delete" (click)="delete(yr.id)" ></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>
    </div>
</section>

</div>