<div class="main" id="main">
    <div class="pagetitle">
        <h1>Timetable</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item">Timetable</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- timetable read and write for teacher view -->
    <div class="card" *ngIf="role == 'ADMIN'"><br />
        <section class="container" style="margin-left: 60px  ;text-align: center;">
            <form class="row g-3" align="center">
                <div class="col-sm-2">
                    <label><b>Academic Batch</b></label>
                    <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="batch"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeCombo()">
                        <option value="">Choose..</option>
                        <option *ngFor="let b of batches;" [ngValue]="b">{{b.name}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label><b>Semester</b></label>
                    <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="semester"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="onSemesterChange()">
                        <option value="">Choose..</option>
                        <option *ngFor="let s of semesters;" [ngValue]="s">{{s.semesterName}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label><b>Major</b></label>
                    <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="filterDTO.major"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="onMajorChange()">
                        <option value="">Choose..</option>
                        <option *ngIf="batch.name == 'FIRST YEAR'">CST</option>
                        <option *ngIf="batch.name != 'FIRST YEAR'">CS</option>
                        <option *ngIf="batch.name != 'FIRST YEAR'">CT</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <label><b>Section</b></label>
                    <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="section"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="onSectionChange()">
                        <option value="">Choose..</option>
                        <option *ngFor="let sec of sections;" [ngValue]="sec">{{sec.name}}</option>
                    </select>
                </div>

                <!-- <button type="submit" class="btn btn-primary" (click)="show()">Show Subject List</button> -->
            </form>
        </section><br />
        <section class="section">
            <div class="row">
                <!-- Drag and Drop -->
                <table mat-table #table class="mat-elevation-z8" cdkDropList>


                    <tbody>
                        <tr>
                            <th bgcolor="  #c6e1ff" class="text-center">Day</th>
                            <th bgcolor=" EDC6FC" class="text-center">9:00-9:55</th>
                            <th bgcolor=" EDC6FC" class="text-center">10:05-11:00</th>
                            <th bgcolor=" EDC6FC" class="text-center">11:10-12:05</th>
                            <th bgcolor=" EDC6FC" class="text-center">12:05-1:00</th>
                            <th bgcolor=" EDC6FC" class="text-center">1:00-1:55</th>
                            <th bgcolor=" EDC6FC" class="text-center">2:05-3:00</th>
                            <th bgcolor=" EDC6FC" class="text-center">3:10-4:05</th>
                        </tr>
                        <tr>

                        <tr>
                            <td bgcolor=" #c6e1ff" class="text--center"><b>MON</b></td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l11="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e11" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e11" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l12="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e12" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e12" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l13="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e13" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e13" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td rowspan="5" bgcolor="  #c6e1ff">
                                <h2 class="text-center">L<br>U<br>N<br>C<br>H</h2>
                            </td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l14="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e14" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e14" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l15="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e15" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e15" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l16="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e16" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e16" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td bgcolor="  #c6e1ff" class="text--center"><b>TUE</b></td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l21="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e21" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e21" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l22="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e22" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e22" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l23="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e23" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e23" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l24="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e24" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e24" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l25="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e25" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e25" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l26="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e26" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e26" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="  #c6e1ff" class="text--center"><b>WED</b></td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l31="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e31" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e31" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l32="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e32" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e32" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l33="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e33" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e33" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l34="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e34" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e34" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l35="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e35" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e35" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l36="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e36" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e36" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="  #c6e1ff" class="text--center"><b>THU</b></td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l41="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e41" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e41" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l42="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e42" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e42" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l43="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e43" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e43" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l44="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e44" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e44" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l45="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e45" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e45" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l46="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e46" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e46" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="  #c6e1ff" class="text--center"><b>FRI</b></td>
                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l51="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e51" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e51" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l52="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e52" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e52" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l53="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e53" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e53" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>

                                <div cdkDropList cdkDropListOrientation="horizontal" #l54="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e54" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e54" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l55="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e55" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e55" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div cdkDropList cdkDropListOrientation="horizontal" #l56="cdkDropList"
                                    [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                                    [cdkDropListData]="e56" class="containS1-list" (cdkDropListDropped)="drop1($event)">
                                    <div class="containS1-box1" [ngClass]="{}" *ngFor="let item of e56" cdkDrag>
                                        <span>{{item.moduleNo}}
                                        </span>
                                    </div>
                                </div>
                            </td>



                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <button type="submit" class="btn btn-primary "  (click)="saveTimetable()">
                        Confirm</button>
                </div>
                <div class="example-container ">


                    <h3 style="margin-left: 70px; width: 150px;">Subjects</h3>

                    <div cdkDropList cdkDropListOrientation="horizontal" #sub="cdkDropList" [cdkDropListData]="subjects" 
                        [cdkDropListConnectedTo]="[sub,l11,l12,l13,l14,l15,l16,l21,l22,l23,l24,l25,l26,l31,l32,l33,l34,l35,l36,l41,l42,l43,l44,l45,l46,l51,l52,l53,l54,l55,l56]"
                        class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box subjectClass" *ngFor="let sub of subjects" cdkDrag>
                            <span>{{sub.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <table class="table table-borderless"  id="subTable" >
            <tr *ngFor=" let sub of subjects;let i = index;">
                <td>{{sub.moduleNo}}</td>
                <td> {{sub.name}}</td>
                <!-- <td>
                    <select class="form-select" id="staffSelect" [(ngModel)]="temp_staffs[i]" (change)="onClickStaff(sub,temp_staffs[i])"
                        [ngModelOptions]="{standalone: true}" >
                        <option value="">Choose..</option>
                        <option *ngFor="let subStaff of sub.subjectStaff" [ngValue]="subStaff">{{subStaff.staffName}}</option>
                    </select>
                </td> -->
            </tr>
        </table><br />
    </div>


    <!-- timetable view for student -->
    <div class="card" *ngIf="role == 'STUDENT'"><br />
        <div align="center"><b>
                <h5><span>{{academicYear}}</span> Academic Year</h5>
                <h5><span>{{this.batchName}}</span><span> {{majorN}}</span> Timetable</h5>
                <div class="col-sm-3">
                    <select class="form-select" id="inputGroupSelect01 " [(ngModel)]="semester"
                        [ngModelOptions]="{standalone: true}"(ngModelChange)="getSection()">
                        <option *ngFor="let sem of semesters;" [ngValue]="sem">{{sem.semesterName}}</option>
                    </select>
                </div>
            </b>


        </div>
        <div style="text-align: right; margin-right: 100px;" col-sm-6>
            <h5>{{student_section.name}}</h5>
        </div>

        <section class="section">
            <div class="row">
                <table class="timetable " style="height:400px;">
                    

                    <tr>
                        <th bgcolor="  #c6e1ff" class="text-center">Day</th>
                        <th bgcolor=" EDC6FC">9:00-9:55</th>
                        <th bgcolor=" EDC6FC">10:05-11:00</th>
                        <th bgcolor=" EDC6FC">11:10-12:05</th>
                        <th bgcolor=" EDC6FC">12:05-1:00</th>
                        <th bgcolor=" EDC6FC">1:00-1:55</th>
                        <th bgcolor=" EDC6FC">2:05-3:00</th>
                        <th bgcolor=" EDC6FC">3:10-4:05</th>
                    </tr>
                    <tr>
                        <td bgcolor="  #c6e1ff"><b>MON</b></td>
                        <td class="border ">{{e11[0].moduleNo}}</td>
                        <td class="border ">{{e12[0].moduleNo}}</td>

                        <td class="border ">{{e13[0].moduleNo}}</td>

                        <td rowspan="5" bgcolor="  #c6e1ff">
                            <h2>L<br>U<br>N<br>C<br>H</h2>
                        </td>
                        <td class="border ">{{e14[0].moduleNo}}</td>

                        <td class="border ">{{e15[0].moduleNo}}</td>

                        <td class="border ">{{e16[0].moduleNo}}</td>

                    </tr>
                    <tr>
                        <td bgcolor="  #c6e1ff"><b>TUE</b></td>
                        <td class="border ">{{e21[0].moduleNo}}</td>

                        <td class="border ">{{e22[0].moduleNo}}</td>

                        <td class="border ">{{e23[0].moduleNo}}</td>

                        <td class="border ">{{e24[0].moduleNo}}</td>

                        <td class="border ">{{e25[0].moduleNo}}</td>

                        <td class="border ">{{e26[0].moduleNo}}</td>

                    </tr>
                    <tr>
                        <td bgcolor="  #c6e1ff"><b>WED</b></td>
                        <td class="border ">{{e31[0].moduleNo}}</td>

                        <td class="border ">{{e32[0].moduleNo}}</td>

                        <td class="border ">{{e33[0].moduleNo}}</td>

                        <td class="border ">{{e34[0].moduleNo}}</td>

                        <td class="border ">{{e35[0].moduleNo}}</td>

                        <td class="border ">{{e36[0].moduleNo}}</td>

                    </tr>
                    <tr>
                        <td bgcolor="  #c6e1ff"><b>THU</b></td>
                        <td class="border ">{{e41[0].moduleNo}}</td>

                        <td class="border ">{{e42[0].moduleNo}}</td>

                        <td class="border ">{{e43[0].moduleNo}}</td>

                        <td class="border ">{{e44[0].moduleNo}}</td>

                        <td class="border ">{{e45[0].moduleNo}}</td>

                        <td class="border ">{{e46[0].moduleNo}}</td>

                    </tr>
                    <tr>
                        <td bgcolor="  #c6e1ff"><b>FRI</b></td>
                        <td class="border ">{{e51[0].moduleNo}}</td>

                        <td class="border ">{{e52[0].moduleNo}}</td>

                        <td class="border ">{{e53[0].moduleNo}}</td>

                        <td class="border ">{{e54[0].moduleNo}}</td>

                        <td class="border ">{{e55[0].moduleNo}}</td>

                        <td class="border ">{{e56[0].moduleNo}}</td>

                    </tr>
                </table>
            </div><br />
            <table class="table" id ="subTable">
                <tr *ngFor=" let sub of subjects;let i = index;">
                    <td>{{sub.moduleNo}}</td>
                    <td> {{sub.name}}</td>
                    <!-- <td>  <div *ngFor="let subStaff of sub.subjectStaff">
                           {{subStaff.staffName}}
                    </div>
                    
                    </td> -->
                </tr>

            </table>
        </section><br />
        <br />
    </div>
</div>