<div class="main" id="main">
    <div class="pagetitle">
        <h1>Student Lists</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item">Student Lists</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div>
        <button type="submit" class="btn btn-primary bi bi-plus-circle" [routerLink]="'/add-student'">
            Add new student</button> 
    </div>
<br/>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body table-responsive">
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Current Address</th>
                                <!-- <th scope="col">Home Address</th>
                                <th scope="col">Date Of birth</th>
                                <th scope="col">NRC No</th>
                                <th scope="col">Profile picture</th>
                                <th scope="col">Nation</th>
                                <th scope="col">Religion</th>
                                <th scope="col">Relationship Status</th> -->
                                <th scope="col">Hostel</th>
                                <th scope="col">Ferry</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stu of students;let i = index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{stu.stu_gender== 'Male'? 'Mg ':'Ma '}}{{stu.stu_name}}</td>
                                <td>{{stu.stu_email}}</td>
                                <td>{{stu.phone_no}}</td>
                                <td>{{stu.stu_currAddress}}</td>
                                <!-- <td>{{stu.stu_homeAdd}}</td>
                                <td>{{stu.stu_dob}}</td>
                                <td>{{stu.stu_nrc}}</td>
                                <td>{{stu.stu_pp}}</td>
                                <td>{{stu.stu_national}}</td>
                                <td>{{stu.stu_religion}}</td>
                                <td>{{stu.stu_relationshipStat}}</td> -->
                                <td>{{stu.stu_hostel}}</td>
                                <td>{{stu.stu_ferry}}</td>
                                <td>
                                    <i class="bi bi-pencil-square" title="edit" [routerLink]="['/add-student',stu.id]"></i>&nbsp;
                                    <i class="bi bi-trash" style="color: red;" title="delete" (click)="delete(stu.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </section>
</div>