<div class="main" id="main">
    <div class="pagetitle">
        <h1 *ngIf="editPosition == false">Add New Position</h1>
        <h1 *ngIf="editPosition == true">Edit Position</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/position-list'">Position Lists</a></li>
                <li class="breadcrumb-item" *ngIf="editPosition == false" >Add new Position</li>
                <li class="breadcrumb-item" *ngIf="editPosition == true">Edit new Position</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" *ngIf="editPosition == false">Position Adding Form</h5>
                    <h5 class="card-title text-center" *ngIf="editPosition == true">Position Editing Form</h5>
                    <!-- Horizontal Form -->
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label required">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="position.name"  id="inputText">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-secondary" [routerLink]="'/position-list'">Cancel</button>
                    </div>
                    <!-- End Horizontal Form -->

                </div>
            </div>
        </div>
    </section>
</div>

