<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">


                    <!-- Student-->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card bg">
                            <div class="filter">
                                <a class="icon" [routerLink]="'/student-list'" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots" title="student list"></i></a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><span>Total </span>
                                    <a class="link" [routerLink]="'/student-list'"> Students</a>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-mortarboard-fill "></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{students.length}}</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Student -->

                    <!-- Staff  -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card bg">

                            <div class="filter">
                                <a class="icon" [routerLink]="'/staff-list'" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots" title="Staff list"></i></a>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"><span>Number of </span>
                                    <a class="link" [routerLink]="'/staff-list'">Teachers</a>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{staffs.length}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Staff -->

                    <!-- Departments -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card dept bg">

                            <div class="filter">
                                <a class="icon" [routerLink]="'/department-list'" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots" title="Department list"></i></a>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"><span>Number of </span>
                                    <a class="link" [routerLink]="'/department-list'">Departments</a>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-building-fill "></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{departments.length}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End  Departments -->

                    <!-- Subjects -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sub bg">

                            <div class="filter">
                                <a class="icon" [routerLink]="'/subject-list'" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots" title="Subject list"></i></a>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"><span>Number of </span>
                                    <a class="link" [routerLink]="'/subject-list'">Subjects</a>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-book-half"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{subjects.length}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Subjects -->

                    <div style="display: block; width: 600px; height: 600px;" class="card">
                        <canvas id="myChart" width="300" height="300" class="c"></canvas>
                    </div>

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" [routerLink]="'/notice-board'" data-bs-toggle="dropdown"><i
                                class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body ">
                        <h5 class="card-title">Recently notices</h5>
                        <hr class="dropdown-divider">

                        <div class="activity">

                            <table>
                                <tr *ngFor="let n of notices;">
                                    <section>
                                        <td> <img src="{{ this.commonService.imageURL+n.noticePicture}}"
                                                style="margin: 5px;max-width: 60px; height: 60px;" alt=" notice"></td>
                                        <td><a [routerLink]="['/add-notice',n.id]" class="link">{{n.content}}</a>
                                        </td>
                                    </section>
                                    <hr class="dropdown-divider">
                                </tr>
                                <tr *ngIf="notices.length === 0">
                                    <td colspan="2">No notices found.</td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
            </div><!-- End Right side columns -->
        </div>
    </section>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend">
    </canvas>



</main><!-- End #main -->