<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/admin-dashboard'">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class=" dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Student-->
                    <div class="col-6">
                        <div class="card sales-card">
                            <table class="table-borderless">
                                <tr>
                                    <td>
                                        <div class="card-body">
                                            <h5 class="card-title"><span>Total </span>
                                                <a class="link" [routerLink]="'/student-list'"> Students</a>
                                            </h5>

                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-mortarboard-fill fs-2"></i>
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <p class="size">{{students.length}}</p>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div><!-- End Student -->

                    <!-- Staff  -->
                    <div class=" col-6">
                        <div class="card revenue-card">
                            <table class="table-borderless">
                                <tr>
                                    <td>
                                        <div class="card-body">
                                            <h5 class="card-title"><span>Total </span>
                                                <a class="link" [routerLink]="'/staff-list'"> Teachers</a>
                                            </h5>
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-person-workspace fs-2"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="size">{{staffs.length}}</p>
                                    </td>

                                </tr>
                            </table>

                        </div>
                    </div><!-- End Staff -->
                </div>

                <!-- Departments -->
                <div class="row">
                    <div class=" col-6">
                        <div class="card dept">
                            <table class="table-borderless">
                                <tr>
                                    <td>
                                        <div class="card-body">
                                            <h5 class="card-title"><span>Total </span>
                                                <a class="link" [routerLink]="'/department-list'"> Depatments</a>
                                            </h5>

                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-building-fill fs-2"></i>
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <p class="size">{{departments.length}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- End  Departments -->

                    <!-- Subjects -->
                    <div class=" col-6">
                        <div class="card sub">
                            <table class="table-borderless">
                                <tr>
                                    <td>
                                        <div class="card-body">
                                            <h5 class="card-title"><span>Total </span>
                                                <a class="link" [routerLink]="'/subject-list'"> Subjects</a>
                                            </h5>

                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-book-half fs-2"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="size">{{subjects.length}}</p>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div><!-- End Subjects -->
                </div>
                <div style="display: block; width: 600px; height: 500px;" class="card">

                    <p class="b"> Students' Gender Breakdown by Academic Batch</p>

                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" style="width: 100%; height: 450px;margin:0% 5% 5% 5%;">
                    </canvas>

                </div>


            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">

                    <div class="card-body ">
                        <h5 class="card-title">Recently notices</h5>
                        <hr class="dropdown-divider">

                        <div class="activity" style="max-height:1000px;">

                            <table>
                                <tr *ngFor="let n of notices;">
                                    <section>
                                        <td> <img src="{{ this.commonService.imageURL+n.noticePicture}}"
                                                style="margin: 5px;max-width: 60px; height: 60px;" alt=" notice"></td>
                                        <td><a [routerLink]="['/add-notice',n.id]" class="nt">{{n.content}}</a>
                                        </td>
                                    </section>
                                    <hr class="dropdown-divider">
                                </tr>
                                <tr *ngIf="notices.length === 0">
                                    <td colspan="2">No notices found.</td>
                                </tr>
                                <tr style="text-align: center;font-style: poppin;"><a [routerLink]="'/notice-board'"
                                        class="link"><u>View All
                                            notification</u></a></tr>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
            </div><!-- End Right side columns -->
            <div class="card" style="height:500px;width:100%;">

                <p class="d">Number of Teachers By Departments</p>
                <div style="display: block;">
                    <canvas id="myChart" class="c"></canvas>
                </div>
            </div>

        </div>
    </section>


</main><!-- End #main -->