<div class="main" id="main">
    <div class="pagetitle">
        <h1 *ngIf="role=='ADMIN'">Section List</h1>
        <h1 *ngIf="role=='TEACHER'">Class List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngIf="role=='ADMIN'"><a [routerLink]="'/admin-dashboard'">Home</a></li>

                <li class="breadcrumb-item" *ngIf="role=='TEACHER'"><a [routerLink]="'/teacher-dashboard'">Home</a></li>
                <li class="breadcrumb-item" *ngIf="role=='ADMIN'">Section Lists</li>
                <li class="breadcrumb-item" *ngIf="role=='TEACHER'">Class List</li>


            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div>
        <button type="submit" class="btn btn-primary bi bi-plus-circle" *ngIf="role!='TEACHER'"
            [routerLink]="'/add-section'">
            Add new Section</button>
    </div>
    <br />
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Class</th>
                                <th scope="col">Name</th>
                                <th scope="col">No Of Students</th>
                                <th scope="col" *ngIf="role!='TEACHER'">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sec of sections;let i = index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{getBatchNumber(sec.academicBatch?.name)}}{{sec.major}}</td>
                                <td>{{sec.name}}</td>
                                <td>{{sec.noOfStudent}}</td>

                                <td *ngIf="role!='TEACHER'">
                                    <i class="bi bi-pencil-square" title="edit"
                                        [routerLink]="['/add-section',sec.id]"></i>&nbsp;
                                    <i class="bi bi-trash" style="color: red;" title="delete"
                                        (click)="delete(sec.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </section>
</div>